<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                https://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- more bean definitions go here -->
    <bean class="com.constructorinjection.Person" name="person1">
        <constructor-arg name="name" value="Ravi"/>
        <constructor-arg name="id" value="10" type="Integer"/>
<!--        type and name is optional-->
<!--        type is important if we have overloading constructor-->
    </bean>

</beans>