<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                https://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                https://www.springframework.org/schema/context/spring-context.xsd">

<!--    this context is required for autowired annotation-->
    <context:annotation-config/>
    <!-- more bean definitions go here -->
    <bean class="com.autowiring.annotationautowire.Address" name="address3">
        <property name="street" value="spice garden"/>
        <property name="city" value="Bangalore"/>
    </bean>

    <bean class="com.autowiring.annotationautowire.Address" name="address5">
        <property name="street" value="spice garden"/>
        <property name="city" value="Delhi"/>
    </bean>


<!--    autowire bydefault uses type annotation, so we can have any name for the address-->
<!--    but if we have multiple bean with same type, the it will throw NoUniqueBeanDefinitionException-->
    <bean class="com.autowiring.annotationautowire.Employee" name="employee"/>

</beans>